antlr4-python3-runtime==4.9.3
astroid==2.11.7
blessings==1.7
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.6
Cython==3.1.3
dataclasses==0.6
dill==0.3.5.1
dm-tree==0.1.8
emoji==2.0.0
-e git+https://github.com/Jrookie2005/SynGEC.git@e1e85829070ee017925bf7177e01e94d7276f1d8#egg=fairseq&subdirectory=src/src_syngec/fairseq-0.10.2
fastmoe==1.1.0
filelock==3.7.1
fsspec==2025.3.0
gpustat==0.6.0
huggingface-hub==0.8.1
hydra-core==1.3.2
idna==3.3
importlib_resources==6.4.5
isort==5.10.1
Jinja2==3.1.6
joblib==1.1.0
lazy-object-proxy==1.7.1
Levenshtein==0.25.1
ltp==4.2.14
ltp-core==0.1.4
ltp-extension==0.1.13
lxml==6.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mock==5.2.0
mpmath==1.3.0
multiprocess==0.70.13
networkx==3.1
ninja==1.13.0
nltk==3.7
numpy==1.23.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py3==7.352.0
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
omegaconf==2.2.2
opencc-python-reimplemented==0.1.7
packaging==25.0
pathos==0.2.9
platformdirs==2.5.2
portalocker==3.0.0
pox==0.3.1
ppft==1.7.6.5
protobuf==4.21.2
psutil==5.9.1
pycparser==2.22
pylint==2.14.5
pyparsing==3.0.9
pypinyin==0.55.0
python-Levenshtein==0.25.1
PyYAML==6.0
rapidfuzz==3.9.7
regex==2022.7.9
requests==2.28.1
sacrebleu==2.5.1
six==1.16.0
stanza==1.4.0
subword-nmt==0.3.8
supar==1.1.4
sympy==1.13.3
tabulate==0.9.0
tokenizers==0.12.1
tomli==2.0.1
tomlkit==0.11.1
torch==2.4.1
tqdm==4.67.1
transformers==4.20.1
triton==3.0.0
typing_extensions==4.13.2
urllib3==1.26.10
wrapt==1.14.1
xlrd==2.0.1
xlwt==1.3.0
zipp==3.20.2
